/* Resetando estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo do cabeçalho */
header {
    background: #35424a;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo das seções */
section {
    padding: 40px 20px;
    margin: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
}

/* Imagens das seções */
.section-image {
    width: 100%;               /* ocupa toda a largura do container */
    max-width: 800px;          /* limite máximo para evitar distorções em telas grandes */
    height: auto;              /* mantém a proporção da imagem */
    border-radius: 6px;
    margin-bottom: 10px;
    display: block;            /* remove espaços indesejados ao redor */
    margin-left: auto;         /* centraliza a imagem */
    margin-right: auto;
}

/* Estilo do formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 10px;
    font-size: 1.1em;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: #35424a;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

form button:hover {
    background: #2a3c3e;
}

/* Estilo da galeria */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* ajusta as colunas de forma responsiva */
    gap: 10px;
    margin-top: 10px;
}

.gallery img {
    width: 100%;               /* ocupa toda a largura da célula da grade */
    height: auto;              /* mantém a proporção da imagem */
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: block;            /* remove espaços extras */
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Rodapé */
footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1em;
}